@charset "utf-8";

body,html{margin:0px; padding:0px; font-family:'Ubuntu', serif; font-size:12px; color:#231f20; font-weight:normal;}

#appPreView	{height:100%; width:100%; background:rgba(0,0,0,0.5); margin:0; position:absolute; z-index:10; max-width:none;}
.alignCenter #appPreViewProgressBar{height:4px; width:315px; background:#0033FF; border-radius:5px; margin:0 0 0 200px;}
.uhOh {height:auto; width:50%; background:#ffffff; border:3px inset #276b98; border-radius:5px; text-align:center; margin:20px auto; padding:15px;}

.sprite {background-image:url(images/sprites-500x500.png);}

ul li{ list-style-type:none;}

.wrapper{margin:0 auto; padding:0px; width:964px;}

.fl{float:left;}
.fr{float:right;}
.cb{clear:both;}
.visibilityHidden {visibility:hidden;}

/* messaging css. some error css is defined in the jqueryui styles */
.appMessage P	{padding:0; margin:0;} /* used in app messaging for warnings, alerts, successes, etc */
.zMessage	{margin:6px 0;}
.appMessage	{margin-bottom:12px; position:relative;}
.appMessage .stdMargin {padding:5px;}
.appMessage .ui-button	{position:absolute; top:-3px; right:-3px; z-index:100;}
.appMessage .ui-icon	{float:left; margin-right:12px;}
/* some messages have a red bg. add a white circle around the icon in these cases. */
.ui-state-z-ise .ui-icon, .ui-state-z-error .ui-icon, .ui-state-z-debug .ui-icon	{
	background-color:#ffffff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}
/*.appMessage .ui-icon-alert	{background:url(images/error-82x82.png) no-repeat; height:82px; width:82px; margin:0 10px 10px 0;} */
.appMessage .appMessageTxt	{float:left;}
.ui-state-success, .ui-state-statusupdate	{border:1px solid #aecdae !important; background:#e3f6e3 !important; color:#333333 !important;}
.ui-state-warning	{border:1px solid #f58d48 !important; background:#ffdfc9 !important; color:#333333 !important;}

.mainColumn	{width:100%;}
.sideline	{display:none;}

.fluidList li{margin:0 0 0 37px;}

.quickView	{top:247px; right:48px;} /* jqui modal has zindex 1002 */

.productList > li	{width:148px; min-height:285px; padding:0;}
.productList > li > img{margin:0px; padding:0px; width:148px !important; height:208px !important;}
.lineItemProdlist > li	{padding:10px !important; width:99% !important; min-height:auto !important; border-bottom:none;} /* single column product list - used in cart, checkout, etc. productList class is also defined in these cases. */
.lineItemProdlist .prodThumb	{margin-right:12px;}

.productList li, .categoryList li	{font-size:12px;}

.productList h4, .categoryList h4	{font-size:12px;}
.productList h5, .categoryList h5	{font-size:11px;}
.productList h6, .categoryList h6	{font-size:11px;}

.mpControls	{padding:2px 6px;}

.slideMe li	{margin-right:0;}
	/*default pic slider was replaced, this hides the orig controls for the plugin used
	if they are to be used they need to be set to line up outside of the container, they are 
	in, or with a z-index, otherwise clicking on them will trigger the modal pop up that is 
	on the list item*/
.ic_right_nav, .ic_left_nav, .ic_controls {display:none;}

.blueGradient {
	background: #51a3dc; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxYTNkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZTVmODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #51a3dc 0%, #2989d8 50%, #207cca 51%, #276b97 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51a3dc), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#276b97)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #51a3dc 0%,#2989d8 50%,#207cca 51%,#276b97 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #51a3dc 0%,#2989d8 50%,#207cca 51%,#276b97 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #51a3dc 0%,#2989d8 50%,#207cca 51%,#276b97 100%); /* IE10+ */
	background: linear-gradient(to bottom, #51a3dc 0%,#2989d8 50%,#207cca 51%,#276b97 100%); /* W3C */
}

.orangeGradient {
	background: #ffc100; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZTdhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffc100 0%, #fe7a00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc100), color-stop(100%,#fe7a00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc100 0%,#fe7a00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc100 0%,#fe7a00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc100 0%,#fe7a00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc100 0%,#fe7a00 100%); /* W3C */
}

/*Header Start*/
.header{margin:1.3em 0 0 0; padding:0px; width:964px; float:left;}
.headerone{margin:0px; padding:0px; width:964px; float:left;}
.headerleft{margin:0px; padding:0px; float:left;} /*width:529px;*/
.headerleft img{margin:9px 0 0 14px;}
.headerright{margin:0px; padding:0px; width:560px; float:right;}
.headerright1{margin:0px; padding:0px; width:485px; float:right;}
.topsecmenu{margin:0px; padding:0px; width:372px; float:left;}
.contactsec{margin:0px; padding:0px; text-align:right; line-height:20px;}
.contactsec a, .contactsec .giftCardLink {color:#808080; text-decoration:none; display:inline}
.contactsec a:hover, .contactsec .giftCardLink:hover {color:#000000; text-decoration:none;}
.contactsec span{padding:0 10px; color: #808080;}
.cartsec{margin:0px; padding:6px 0 0 0; text-align:right;}
.cartsec img{margin:-3px 10px 0 0; padding:0;}
.gryimgright{margin:0px; padding:0px; float:right;}
.headerright2{margin:10px 0 0 0; padding:0px; width:450px; float:right; color: #808080; font-size: 14px;}
.headerright2 .inpbox{margin:0 2px 0 5px; padding:3px; width:254px; border: 1px solid #808080; font-size:11px; color: #404040;}
.headerright2 .searchbut{height:22px; width:60px; margin:0px; padding:0px; float:right; color:#ffffff; border:1px solid #276b97; border-radius:4px;}

.navsection{margin:6px 0 0 0; padding:0px; width:964px; float:left; height:27px; border:1px solid #276b97; border-radius:5px;}
.navsection ul{margin:0px; padding:0px;}
.navsection ul li{margin:0px; padding:5px 10px; list-style-type:none; float:left;}
/*.navsection ul li:hover{margin:0px; padding:4px 15px 5px 15px; list-style-type:none; float:left; border-radius:5px 5px 0 0 ;  color:#221f1f !important; background:#EAE8E5 !important;}
*/
.navsection ul li a{color:#FFFFFF; font-size:14px; text-decoration:none; padding:4px 10px;}
.navsection ul li a:hover{color:#fe7a00;}

.sizebg{margin:5px 0px; padding:4px 0 0 0; width:964px; float:left; height:30px; text-align:center; font-size:20.5px; font-weight:bold; border:2px solid #fe7a00; border-radius:5px;}
.sizebg div, .popupshado .sizebg a {cursor:pointer; color:#ffffff; text-decoration:none; display:inline;}
.sizebg div:hover, .popupshado .sizebg a:hover {color:#54A7E1; text-decoration:none;}
.sizebg span{padding:0 5px; color:#ffffff;}
/*Header Close*/

/*Middle Start*/
.middle{padding:0px; width:964px; float:left;}
.banner{margin:5px 0 0 0; padding:0px; float:left; width:964px;}
.bannerleft{margin:0px; padding:0px; float:left; width:609px;}
.bannerright{margin:0 0 0 9px; padding:0px; float:left; width:346px;}
.bannerright1{margin:0px; padding:0px; float:left; width:346px; height:10px;}
.bannerright2{margin:0px; padding:4px 14px 16px 14px; float:left; height:290px; width:316px; border:1px solid #b1b1b1; border-radius:5px; overflow:hidden;}
.bannerright2 h1{margin:0px; padding:0px; font-size:42px; font-family:'Abel', serif; color:#54a7e1; font-weight:normal;}
.perbox{margin:2px 0 20px 0; padding:0px; width:318px; float:left;}
.perboxleft{margin:0px; padding:0px; width:153px; float:left;}
.perboxright{height:231px; margin:0 0 0 10px; padding:0px; width:155px; float:left; display:inline-block; position:relative;}
.perboxright h1{margin:0px; padding:0px; font-size:17px; color:#000000; font-family:'Ubuntu', serif;}
.perboxright h2, .perboxright span.cents, .perboxright span.price {margin:0px; padding:6px 0 0 0; font-size:18px; color:#ec1c24; font-family:'Ubuntu', serif; font-weight:bold;}
.perboxright h2 {display:inline;}
.price {color:#f05a24; font-size:13.5px;}
.perboxright div, .perboxright div.reg .cents, .reg {color:#000000; font-size:10px; font-weight:normal;}
.matchingPriceTemplate {display:inline;}
.perboxright span#deal{color:#54A7E1; font-size:10px; font-weight:bold; margin:20px auto; text-align:center;}
.perboxright span.notAvailableForPurchase {display:block; margin:8px 0;}
.perboxright .countDesc {color:#ffffff; text-align:center; padding:0 0 0 3px;}
.perboxright .colon.colon2 {color:#000000;}
.perboxright .addCart{margin:20px auto; padding:1px; background:url('images/tabonbg.gif') repeat-x scroll 0 0 transparent; border:1px solid #276B98; border-radius:5px; color:#ffffff; display:block; font-family:source sans pro;}
.timerem{margin:12px 0 0 0; padding:0px;}
.bannerright3{margin:0px; padding:0px; float:left; width:346px;}
.tabbingstatic{margin:11px 0 0 0; padding:0px; float:left;}
.madebox{margin:0px; padding:0px; width:964px; float:left; background:url(images/made_usa.gif) repeat-x; min-height:97px;}
.madebox1{margin:12px 0 0 65px; padding:0px; width:235px; float:left;}
.madebox1 h1{margin:0px; padding:0px; font-size:23px; font-family:'Abel', serif; color:#54a7e1; font-weight:normal; text-align:center;}
.madebox1 p{text-align:center; margin:0px; padding:0px; color:#2e5f80; line-height:15px;}
.madebox1 .giftCardLink{text-align:center; color:#ec1c24; display:block; text-decoration:underline;} 
.madebox1 .giftCardLink:hover{text-decoration:none;}

#homepageTabs {margin:3px 0 0 0; width:962px; float:left;}
/*Middle Close*/

/*Footer Start*/
.footer{margin:0 0 50px 0; padding:0px; width:964px; float:left; background:url(images/footerbg.gif) repeat-x; min-height:215px;}
.footertop{margin:50px 0 0 0; padding:0px; width:964px; float:left;}
.custmser{margin:0 0 0 24px; padding:0px; float:left;}
.custmser h1{margin:0px; padding:0 0 3px 0; font-size:19px; font-family:'Source Sans Pro', serif; color:#276b98; font-weight:bold; }
.custmser ul{margin:0 45px 0 0; padding:0px; float:left;}
.custmser ul li{margin:0px; padding:0 0 2px 0; list-style-type:none;}
.custmser ul li a, .custmser ul li.cartLink {color:#808080; text-decoration:none;}
.custmser ul li a:hover, .custmser ul li.cartLink:hover {color:#000000; text-decoration:none;}
.socialmedia{margin:0 0 0 70px; padding:0px; float:left;}
.socialmedia h1{margin:0 0 0 0; padding:0 0 7px 0; font-size:19px; font-family:'Source Sans Pro', serif; color:#276b98; font-weight:bold;}
.socialmedia a:first-child {margin:0 5px 0 0;}
.coupons{margin:0 0 0 170px; padding:0px; float:left;}
.coupons h1{margin:0 0 0 0; padding:0 0 3px 0; font-size:19px; font-family:'Source Sans Pro', serif; color:#276b98; font-weight:bold; }
.coupons p{margin:0px; padding:0 0 5px 0; color:#808080; line-height:15px;}
.coupons .fullinpbox{margin:4px 0 0 0; padding:2px 5px 1px 5px; width:153px; border:1px solid #b1b1b1; float:left; font-size:11px;}
.footerbot{margin:0px; padding:0px; width:964px; float:left; text-align:center;}
.foticon img{margin:0px; padding:3px 0 0 3px;}
.copright{margin:0px; padding:7px 0 0 0; color:#808080;}
.copright a {text-decoration:none; color:#808080;}
.copright a:hover{color:yellow;}
/*Footer Close*/
/*Loader Page Start*/
.loderwrapper{margin:10px auto; padding:0px; width:636px; height:410px; background:url(images/loader-bg_643x415.png) no-repeat; position:relative; z-index:10;}
.lodemid{margin:0 0 0 213px; padding:0px; float:left; width:397px;}
.loaderlogo{margin:16px 0 0 18px; padding:0px;}
.fashionclub{margin:38px 0 0 28px; padding:0px; width:338px; text-align:center; color:#2e5f80; font-family:'Source Sans Pro', serif; font-weight:bold;}
.fashionclub h2{margin:0px; padding:0px; font-weight:normal; font-size:22px;}
.fashionclub h1{margin:0px; padding:0px; font-weight:bold; font-size:54px; letter-spacing:-3px; line-height:40px;}
.fashionclub p, .fashionclub div {margin:0px; padding:15px 0 0 0; font-weight:normal; font-size:14px; line-height:20px;}
.fashionclub div {padding:5px 0 0 0;}
.remidbutt{margin:18px 0 0 0; padding:0px; width:397px; float:left;}
.remidbutt img{margin:0 0 0 8px;}
.homeTemplate{margin:0; padding:0px;}
/*Loader Page Start*/


/***************************************************

PRODUCT DETAIL PAGE (productTemplate)

***************************************************/

/* primary image and thumbnails */
.imageContainer	{width:305px; padding-right:24px;}
.prodViewerContainer .prodThumbs	{margin:5px 0 0 0;}
.prodViewerContainer .prodThumbs div {margin:12px 12px 0 0;}
.prodViewerContainer .prodThumbs div.squareHider {float:left; margin:0;}
.prodSmallImage {margin:0 4px; text-decoration:none;}
.prodSmallImage img {margin:0 0 5px 0;}

.prodSummaryContainer{width:340px; margin:0 0 0 25px; font-family:Arial, Helvetica, sans-serif;}
.prodSummaryContainer h1{color: #54A7E1; font-family: 'Abel',serif; font-size: 28px; font-weight: normal; margin: 0; padding: 0;}
.prodSummaryContainer .basePrice {text-align:left;}
.dis {width:300px; padding:20px 0 0 0; display:block;}

.customATCForm, .standardATCForm	{margin-bottom:24px;}
.customATCForm input[name="qty"], .standardATCForm input[name="qty"] {width:25px; text-align:center;}
.customATCForm input[name="qty"].qtyChanged.ui-state-highlight, .standardATCForm input[name="qty"].qtyChanged.ui-state-highlight {color:#ffffff; font-weight:bold;}
.prodViewerAddToCartForm {margin:0 0 1em 0;}
.prodViewerAddToCartForm fieldset	{margin:0 0 12px 0;}

.ui-widget-content .CRMButtonMenu a {color:#286C99;}
.CRMButtonMenu .tellFriend {text-decoration:underline;}

.pogType_attribs	{display:none;} /* don't show finder attributes */

.prodPageTabs.tabbedProductContentTD .ui-widget-content .tabingcontent.ui-tabs-panel {border:1px solid #b2b2b2;}
.tabingcontent.ui-tabs-panel {border-radius:10px 10px 10px 0; float:left; padding:2%; width:96%;}
.comparissonsboxCont {width:140px;}
.prodPageTabs .applyButton, .prodPageTabs .applyButton.orangeGradient.inlineRevFix {border:1px solid #fe7a00; border-radius:4px; color:#ffffff; font-size:90%; padding:0 2px 0 2px;}

/*INLINE PRODUCT PAGE*/
.productPage {width:66%; margin:auto;}
.productPage .prodViewerContainer {width:80%;}
.prodPageTabs .applyButton.inlineRevFix.ui-state-default {
	border:1px solid #fe7a00; border-radius:4px; color:#ffffff; font-size:90%; padding:0 2px 0 2px;
	background: #ffc100 !important; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZTdhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
	background: -moz-linear-gradient(top,  #ffc100 0%, #fe7a00 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc100), color-stop(100%,#fe7a00)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc100 0%,#fe7a00 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc100 0%,#fe7a00 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc100 0%,#fe7a00 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #ffc100 0%,#fe7a00 100%) !important; /* W3C */
}
	
.productPage .extraListContainer {border-top:1px solid #ccc; padding:10px 0 0 0; clear:both;}
.productPage .extraListContainer li {height:256px; width:150px; margin:4px; float:left;}


/****** WRITE REVIEW MODAL ******/
#reviewFrm label	{display:block; text-align:right; float:left; width:150px;}
#reviewsMessage		{width:250px; height:250px;}
#reviewFrm input, #reviewFrm textarea, #reviewFrm select	{margin-bottom:5px;}
#reviewFrm .ui-button	{float:right;}

.breadcrumb	{font-family:'Abel', serif; font-size:42px; margin:3px 0 7px 40px;}
.breadcrumb li{display:none;}
.breadcrumb li:after{margin:0px; padding:0px; content:""; font-weight:bold;}
.breadcrumb li:last-child { margin:0px; padding:0px; content:""; display:list-item;}
.breadcrumb li:last-child a	{color:#54A7E1;}


/*

CUSTOMER PAGES

*/

.companyAddress {margin:1em;}
.companyAddress a, .privacyContact  a {color:#231f20;}
.companyAddress a:hover, .privacyContact  a:hover {color:#f58d48;}
.privacyContact {margin:1em auto;}
.privacyContact  .amend {color:#000000;}


/*

SEARCH RESULTS PAGE

*/

.resultsHeader.hideInMinimalMode {margin:0 0 1em 0;}
#categoryTemplate_appcategoriesseparates .searchResultsProduct {display:block !important;}
#categoryTemplate_appcategoriesseparatesbottoms .searchResultsProduct {display:block !important;}


/*

HELP PAGES

*/

/***** CONTACT US ******/
#contactForm {float:right; margin: 0 0 12px 12px;}
#contactForm fieldset	{border:1px solid #cccccc; padding:10px;}
#contactForm div	{margin-bottom:5px}
#contactForm label	{width:105px; display:inline-block; margin-right:6px; vertical-align:top; text-align:right;}
#contactForm input, #contactForm textarea	{border: 1px solid #CCCCCC;
    padding: 2px;
    width: 205px;}
#contactForm textarea	{height:125px;}



/**** FAQ *****/
.faqQuestion:before, .faqAnswer:before	{font-size:1.4em; font-weight:bold; padding-right:10px; color:#CCCCCC; display:inline-block;}
.faqQuestion:before	{content:"Q: ";}
.faqAnswer:before	{content:"A: ";}

.faqAnswer	{margin-bottom:12px;}


/*

CART

*/

#cartStuffList.productList > li {min-height:0;}

.ltoItem .hideLTO {display:none;}
.ltoItem .showLTO {display:block; color:red; text-align:right;}
.ltoItem h4 {font-size:20px; text-align:right;}

.cartSummaryTotalsContainer h2	{margin:0; border-top:0; border-left:0; border-right:0; padding:2px 12px; font-size:12px;} /* header */
.cartSummaryTotalsContainer .cartSummaryContainer	{padding:12px;}
.cartZipCodeContainer, .cartAltButtonsContainer, .cartSummaryContainer	{margin-bottom:12px; padding-bottom:12px; border-bottom:1px dotted #efefef;}

.cartStuffContainer	{width:55%; vertical-align:top; padding-right:12px; float:left;}
.cartStuffContainer .productList > li {min-height:0;}
.cartSummaryTotalsContainer {width:40%; padding-left:12px; font-size:.8em; float:right;} /* by default, this is the right column */

.checkoutButtonsContainer span	{display:block; float:left; margin:0 12px 12px 0;}

.cartShipMethods, .cartZipCodeContainer, .cartSummary	{margin:12px 0;}

.cartSummaryTotalsContainer h3	{margin:12px 0;} /* shipping methods prompt */

.checkoutButton	{font-weight:bold !important;} /* probably want to customize this with a graphic or something that stands out much more */


/*

CHECKOUT

*/


#paybySupplemental_CREDIT .ui-icon-help	{display:inline-block; margin-left:6px;}

.paybySupplemental {padding:12px; font-weight:normal; border-top-width:0;}
.paybySupplemental select {margin-right:12px;}

.addressList address	{float:left; margin:0 12px 12px 0;}

.creditCardCVVIcon	{display:inline-block !important;}

.checkoutFormContainer input, checkoutFormContainer select	{margin:2px 6px 2px 0;}
.checkoutFormContainer input[type='password']	{width:200px;} /* class affects both login password and create account passwords */

.headerPadding label	{padding:2px 6px;}


/*END STYLES CORRESPONDING W/ QUICKSTART.CSS LAYOUT*/

.ui-tabs .ui-tabs-nav li a{float:left; padding:5px 60px 4px 60px !important; text-decoration:none; font-weight:normal;}
.navtopsiz li a{font-size:18px !important;}
.ui-tabs .ui-state-default{background:url("images/taboffbg.gif") repeat-x #808080 !important; color: #1C94C4; font-weight: bold;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active.ui-state-default{background:url("images/tabactivebg.gif") repeat-x #d9d9d9 !important; border-left:1px solid #b1b1b1; border-right:1px solid #b1b1b1; border-top:1px solid #b1b1b1;}
.tabbing .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color:#FFFFFF !important; text-decoration:none;}
/*.tabbing .ui-state-default a{color:#FFFFFF !important; text-decoration:none;}*/
.tabbing .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color:#666666 !important; text-decoration:none;}

.ui-widget-content{background:#FFFFFF !important; color:#333333; border-color:#b1b1b1 !important;}
.shopingbag{color:#808080; padding:0 0 0 6px;}
.cartItemCount{color:#808080;}

.appMessaging{float:left; width:100%; margin:0px; padding:0px;}
.logbor{color:#efeaea !important;}
input.ui-button{padding: 0.2em 1em;}

fieldset input.ui-button-text {background:#cccccc !important; color:#333 !important; border:1px solid #cccccc !important; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{border:1px solid #CCCCCC !important;}
.lineItemProdlist > li {margin:0 0 10px 0; padding:0px;}

/*login show start*/
.loginShow {display:none;}
.loginShow a {color:#808080;}
.loginHide a{ font-size:12px; color:#F00; font-weight:bold; text-transform:uppercase; }
.buyerLoggedIn span.loginShow {display:inline-block;}
.buyerLoggedIn .loginHide {display:none;}
.hideIfLoggedIn{display:block;}
.buyerLoggedIn .hideIfLoggedIn	{display:none;}
.hideIfLoggedOut	{display:none;}
.buyerLoggedIn .hideIfLoggedOut	{display: block;} /* may be 'block' */
.buyerLoggedIn span.hideIfLoggedOut, .buyerLoggedIn a.hideIfLoggedOut	{display: inline;} /* ensures inline on span elements */
.productSearchKeyword { width:200px;}
.plswait{padding:0; margin:2px 0 0 260px; font-size:1px !important; letter-spacing:1px; width:327px;}
/*login end */

/*Drop Down Menu Css*/
ul#topnav{margin:0px; padding:0; float:left; list-style:none; position:relative;}
ul#topnav li span{padding:0px 0 13px 0; position:absolute; left:0; top:25px; display:none; background:#6dbcff; color:#fff; float:left; border-color:#276B97; border-width: 0px 2px 2px; border-style: none solid solid; border-radius:0px 0px 6px 6px; z-index:9;}
/*ul#topnav li span{padding:20px 0; position:absolute; left:0; top:27px;	display:none; min-width:600px; background:#eae8e5; color:#fff; float:left; border-radius:0 6px 6px 6px; border-left:2px solid #276b97; border-right:2px solid #276b97; border-bottom:2px solid #276b97; }*/
ul#topnav li:hover span{display: block;}
ul#topnav li:hover span.separatesDrop {display: block; left:120px;}
ul#topnav li span a{display: inline; color:#000000;}
ul#topnav li span a:hover{text-decoration: underline;}

ul#topnav li span ul{margin:0 50px 0 0 ; padding:0px; float:left;}
ul#topnav li span ul li{float:none;}
ul#topnav li span ul li a{padding:4px 0 0 0; font-size:12px; float:left; color:#ffffff;}
ul#topnav li span ul li a:hover{color:#34719e; text-decoration:none;}

/*Drop Dwon Menu Css*/
.sendmess{margin:0px; padding:0px; font-size:0px; border:0px !important; height:23px !important; width:102px !important; cursor:pointer; background:none !important; background-image:url(images/send_massage.gif) !important; background-repeat:no-repeat;}
.addtocarti{margin:0px; padding:0px; font-size:0px !important; border:0px !important; background:none
 !important; height:23px !important; width:83px !important; cursor:pointer; background-image:url(images/add_cart.gif) !important; background-repeat:no-repeat;}
.addtocartipro span{margin:0px; padding:0px; font-size:0px; border:0px !important; background:none !important; height:23px !important; width:83px !important; cursor:pointer; background-image:url(images/add_cart.gif) !important; background-repeat:no-repeat;}
.addtocartipro .ui-state-default{margin:0 0 0 33px;  border:none !important;background:none !important; display:none; /*padding:0px;  height:23px !important; width:83px !important;*/}
.prominh{min-height:205px !important; text-align:left; text-decoration:none; color:#231f20;}
.clickab{margin:0px; padding:0px; font-size:26px; font-family:'Abel', serif; color:#F05A24; text-align:center; font-weight:bold;}
.clickab a{color:#F05A24 !important; text-decoration:none;}
.clickab a:hover{color:#276b98 !important; text-decoration:none;}
.ztitle2 {color: #666666; font-size: 14px;  font-weight: bold; margin:10px 0 0 0; font-family:'Ubuntu',serif;}

.basePrice, .customBasePrice {color:#f05a24; font-size:15.5px !important;}
.basePrice h5, .customBasePrice h5, .prodSummaryContainer h5 {color:#000; font-size:12px; padding:2px 6px 0 0 ;}

.ui-widget .ui-widget{font-size:12px;}

.accaddtocart{margin:0px; padding:0px; font-size:0px !important; border:0px !important; background:none !important; height:23px !important; width:83px !important; cursor:pointer; background-image:url(images/add_cart.gif) !important; background-repeat:no-repeat;}
.accsize{/*margin:-80px 0 0 132px; padding:0px; width:776px; float:left;*/}

.emailinp{margin:0px; padding:4px; border:1px solid #CCCCCC;}
.billinp{margin:0px; padding:4px; border:1px solid #CCCCCC; width:180px;}
.billsel{width:190px; margin:2px 0; height:24px;}
.billbor{border:1px solid #CCCCCC;}
.lbbutt{ border:none !important;}
.lbbutt span{margin:0px !important; padding:0px !important; border:none !important;}




.tabPaging { margin:10px 0 0 0}
.tabPaging p {
	margin:0 0 20px 0;
	padding:0px;
}
.tabPaging ul {
	float:left; /*width:677px;*/ /*width:663px;*/
	width:100%;
 	list-style-type:none;
	margin:0px 0 0px; padding:0px;
 }
.tabPaging ul li, .tabPaging .ui-tabs-nav li.prodFeaturesTab, .tabPaging .ui-tabs-nav li.prodReviewsTab, .tabPaging .ui-tabs-nav li.ui-tabs-active.ui-state-default {
	float:left;
	margin:0 6px 0 0 !important;
	padding:0px;
	border:none;
}
.tabPaging ul li a, .ui-tabs-nav li.prodFeaturesTab a, .ui-tabs-nav li.prodReviewsTab a {
	float:left;
	font:600 15px 'Source Sans Pro', serif;
	color:#ffffff;
	background:url(images/tab-off-bg_1x22.jpg) repeat-x;
	padding:1px 20px !important;
	margin:0;
	text-decoration:none;
	cursor:pointer;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;  
 }

.prodPageTabs .tabPaging ul li a:hover, .prodPageTabs .ui-tabs-nav li.ui-state-active a:hover {
	background:url(images/taboff-bg.gif) repeat-x;
}
.prodPageTabs .tabPaging ul li a.active, .prodPageTabs .ui-tabs-nav li.ui-state-active a, .prodPageTabs .ui-tabs-nav li.ui-state-active a:hover {
	color:#ffffff !important;
	background:url(images/tabonbg.gif) repeat-x;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.prodPageTabs.tabbedProductContentTD .ui-widget-content {border:none;}
.prodPageTabs.tabbedProductContentTD .ui-widget-content .tabingcontent.ui-tabs-panel {border:#b2b2b2 solid 1px;} 
.tabingcontent.ui-tabs-panel { width:96%; float:left; padding:2%; -webkit-border-radius: 10px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-topleft: 0;
	border-radius: 10px;
	border-top-left-radius: 0;
}
.tabingcontent ul{list-style-type:none; margin:0px; padding:0 0 0 20px;}
.tabingcontent ul li{height:auto; width:90%; list-style-type:disc; clear:both;}
.tabingcontent .tabOfFeatures .clear {height:15px; width:100%; margin:0 0 15px 0; border-bottom:1px solid #999999; clear:both;}
.accMain{ float:left; width:100%;}
.tp{ border-top:#CCCCCC solid 1px; padding-top:20px; float:left; width:100%;}
.tp:first-child{ border-top:0px; padding-top:0px;}
.marginBottom h5{ float:left; margin-left:30px;}
.marginBottom h5:first-child{ margin-left:0px;}
.oprice{ margin:5px 0 0 0px; color:#ef5a27}
#previewLogo {
	margin:16px 0 0 18px; padding:0px;
}
#previewLogo img {
	vertical-align: middle;
}

#previewContent {
	height:238px;
	position:relative;
}

.previewButtonCont {height:auto; width:auto; position:absolute; bottom:17px; right:0; cursor:auto !important;}


.categorySelectorTitle {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: rgba(0,0,0,.75);
	width: 100%;
	height: 90px;
	line-height: 90px;
}

.categorySelectorButtonContainer {width:129px; margin:0 0 0 2px;}

.categorySelectorButton {
	/*margin: 0px 20px;*/
	color: white;
	font-weight: bold;
	font-size: 1.3em;
	/*padding: 10px;*/
	/*background: rgb(252,163,31); /* Old browsers */
	/*background: -moz-linear-gradient(top,  rgba(252,163,31,1) 0%, rgba(249,101,6,1) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,163,31,1)), color-stop(100%,rgba(249,101,6,1))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  rgba(252,163,31,1) 0%,rgba(249,101,6,1) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  rgba(252,163,31,1) 0%,rgba(249,101,6,1) 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  rgba(252,163,31,1) 0%,rgba(249,101,6,1) 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  rgba(252,163,31,1) 0%,rgba(249,101,6,1) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca31f', endColorstr='#f96506',GradientType=0 ); /* IE6-9 */
}

.categorySelectorTitle h1 {
	color: white;
	padding: 0px 20px;
}

#progressBarContainer {
	/*margin: 0px auto;
	padding: 40px;*/
	text-align: center;
}

#progressBarOutline {
	background: #999999;
	border-radius:5px;
	margin: 0px auto;
}

#progressBar {
	height:4px; width:315px; background:#0033FF; border-radius:5px; margin-top:45px;
}

#progressText{
	color: #000000;
	font-size: 1em;
	font-weight: normal; padding:5px 0 0 0;
}
.carouselCont1, .carouselCont2, .carouselCont3, .carouselCont4{
	position:relative;
	left:-460px;
	height:265px;
	width:920px;
	margin:0 0 0 50%; 
	padding:0px;
	overflow:hidden;
}


/*.carouselCont1 div.caroufredsel_wrapper{
	float:left;
	clear:both;
	width:960px;
	height:250px;
	margin-right:10px;
}*/
/*.caroufredsel_wrapper{height:260px !important;}*/
.caroPrev1, .caroPrev2, .caroPrev3, .caroPrev4{
	position:absolute;
	bottom:148px;
	left:-22px;
	z-index:1;
}
.caroNext1, .caroNext2, .caroNext3, .caroNext4{
	position:absolute;
	bottom:148px;
	right:-22px;
	z-index:1;
}

.productList1, .productList2, .productList3, .productList4 {textAlign:left;float:none; position:absolute; top:0; right:auto; bottom:auto;}
.productList1 > li, .productList2 > li, .productList3 > li, .productList4 > li 	{width:148px; min-height:265px; position:relative; padding:0px; margin:0 0 0 35px; float:left;}
	

 /*popup css*/
.black_overlay{display:none; position:absolute; top:0%; left: 0%; width: 100%; /*height: 100%;*/ background-color: black; z-index:1001; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80);}
.white_content{display: none; position: absolute; top:28%; left: 24%; width: 50%; height: 48%; padding: 15px; border: 3px solid #cdcdcd;  background-color:#e4e4e4; shadow
z-index:1002; overflow: auto; /*box-shadow: 1px 1px 3px 3px #000000;*/ font-family:Arial, Helvetica, sans-serif; color:#333333;}
.savethis{font-size:15px; font-weight:bold;}
/*popup css*/	

.closebutt{margin:0px; padding:0px; position:absolute; right:5px; top:5px; width:41px;}	
.popsizb{margin:0 0 10px 0; padding:0px; float:left; width:100%;}
.popsizb label{margin:0px; padding:3px 0 0 0; min-width:150px; float:left; font-weight:bold;}
.popsizb input{margin:0px; padding:2px; min-width:200px; border:1px solid #cccccc;}
.reuturninb{margin:0 0 0 70px; padding:0px; float:left;}
.reuturninbinp{margin:0px; padding:2px; min-width:200px; border:1px solid #cccccc;}

.questb{margin:10px 0 10px 0; padding:0px; float:left; width:75%;}
.questb label{margin:0px; padding:0px; min-width:150px; float:left; font-weight:bold;}
.questb textarea{margin:0px; padding:0px; min-width:200px; float:left; border:1px solid #cccccc; height:50px;}
.additbutt{margin:0 0 0 250px; padding:0px; float:left;}

.easyrebox{margin:10px 0 0 0; padding:0px; float:left; width:100%;}
.easyrebox h4{margin:0px; padding:0px; font-size:12px; font-weight:bold;}
.easyrebox p{margin:10px 0 0 0; padding:0px;}

.adulttab{margin:10px auto; width:450px;}
/*.spangtsta{margin:0px; padding:0px;  width:960px !important;}*/
.reltabmore{margin:0px; padding:0px; text-align:center;}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
.headerright2 .inpbox{margin:0 0 0 11px; padding:3px 5px 2px 5px; width:272px; border-left:1px solid #808080; border-top:1px solid #808080; border-bottom:1px solid #808080; float:left; border-right:none !important; font-size:11px;}
.madebox1{margin:12px 0 0 20px; padding:0px; width:283px; float:left;}
.perboxright{margin:0 0 0 7px; padding:0px; width:158px; float:left; display:inline-block;}
.ui-tabs .ui-tabs-nav li a{float:left; padding:5px 60px 4px 60px; text-decoration:none; font-weight:normal;}
}

.ui-tabs .ui-tabs-nav li{border-bottom: 0 none; float:left; list-style:none outside none;  margin:1px 0 0 0 !important;  padding:0; position:relative; top:0; white-space:nowrap;}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{margin-bottom:-1px; padding-bottom:0 !important;}
.viimgta{height:20px; width:100%; margin:14px 0 14px 0; padding:0px; overflow:hidden; box-shadow:0 4px 4px -1px #999999;}
.openVideo, .closeVideo {height:20px; width:100%; display:block; background-color:#54A7E1; font-family:Ubuntu,Arial,sans-serif; color:#ffffff; text-align:center; border-radius:5px 5px 0 0; border:none;}
.closeVideo {display:none;}
.closeVideo span {opacity:0;}
.anytabs .ui-corner-tr{border-top-right-radius:0px !important;} 
.mpControlContainer{display:none;}
.gallpagebor{border:1px solid #b1b1b1; margin:0px; padding:0px; border-radius:10px;}
.proborview li{margin:0px; padding:10px !important; border:1px solid #CCC !important; min-height:50px !important;}
 
/*.ui-resizable .ui-dialog-titlebar{background:#FFFFFF !important; border:0px !important;}
.ui-resizable .ui-dialog-titlebar > .ui-dialog-title{visibility:hidden;}*/

.quickVModal .anotherElement {background:#ffffff; border-radius:0 5px 5px 0; top:27px; position:absolute; border-top:1px solid #b1b1b1; border-right:1px solid #b1b1b1; border-bottom:1px solid #b1b1b1;}
.quickVModal.anotherElement #product-modal.ui-dialog-content {overflow:visible;}

.productListTemplatePopout {height:auto; width:120px; padding:0 10px;}
.productListTemplatePopout .prodThumbContainer.floatLeft {height:auto; width:auto;}
.productListTemplatePopout h5 {text-align:center;}
.productListTemplatePopout h6 {border-bottom:1px solid #b1b1b1; margin:0 0 10px 0; padding:0 0 10px 0; text-align:center;}

.comparissonsbox{margin:0px; padding:0px; text-align:center; clear:both;}
.quickVModal .popoutButton {height:20px; width:21px;}
.comparissonsbox ul{margin:0px; padding:0px;}
.comparissonsbox ul li{margin:0px; padding:0px; list-style-type:none; font-family:'Abel', serif; font-size:20px; color:#276b98; text-decoration:underline;}
.comparissonsbox ul li:hover{color:#333; text-decoration:underline;}
.comparissonsbox ul li.selectedList {color:#54A7E1; text-decoration:none; cursor:auto;}

.recentlybox{margin:10px 0 0 0; padding:0px;}
.recentlybox .prodThumbContainer{margin:0px; padding:0 0 5px 0; float:left; width:100%;}
.recentlybox .prodThumbContainer h5{margin:0px; padding:0px; width:100%; float:left;}

.recentlybox .variation .label_select{float:left;}
.recentlybox .variation_A2{margin:6px 0 0 0; padding:0px; display:inline-block;}
.recentlybox .variation span > select{margin:0px; padding:0px; width:100px; float:left;}

.recentEmpty {font-family:electrolize; font-size:21px; text-align:center; margin:20px 10px;}

.tellb{margin:10px 0 0 0; padding:0px; float:left; width:100%;}
.tellb label{margin:0px; padding:3px 0 0 0; width:150px; float:left; font-weight:normal;}
.tellb input{margin:0px; padding:2px; width:240px; float:left; border:1px solid #a8a7a7;}
.tellb textarea{margin:0px; padding:2px; width:240px; float:left; border:1px solid #a8a7a7; min-height:70px;}
.tellbbut{margin:20px 0 0 -44px; padding:0px; float:left; width:100%; text-align:right;}

.sizetabbox{margin:0px; padding:0px;}
.sizetabbox .ui-widget-content{background:none; border:none !important;}
.sizetabbox .ui-tabs .ui-tabs-nav{margin:0; padding:0px !importANT;}
.sizetabbox .ui-widget-header{background:#FFF !important; border:none !important;}
.sizetabcontarea{border:1px solid #b1b1b1; border-bottom-left-radius:4px; border-bottom-right-radius:4px;}
.sizetabcontarea ul li{list-style-type:disc !important;}

#contact_form .zform_textbox{width: 400px;}
#contact_form label{display: inline-block; padding-right: 5px; text-align: right; vertical-align: top; width: 150px;}
.zform_textbox {background-color: #FFFFFF; border: 1px solid #C4C4C4;  color: #000000; font-size: 11px;}
.zform_button {background-color: #ff9f00; border: 1px solid #F89B21; color: #FFFFFF;  font-size: 11px;}
#contact_form div.form_input {margin-bottom: 5px;}
.zform_textarea {background-color: #FFFFFF;border: 1px solid #C4C4C4; color: #000000;  font-size: 11px;}
.zform_textarea.styleHelp {min-height:130px; width:400px;}

/*Count Css*/
.counttext{color:#00FF00; background:none; border:none; font-family:'Electrolize',serif; padding:0 0 0 3px; text-align:center; font-weight:bold; font-size:16px; width:25px;}
.colon{color:#00ff00; font-family:'Electrolize',serif; font-size:12px; font-weight:bold; display:inline;}
/*Count Css*/
.popupshado{box-shadow:0 3px 3px 1px #cdcdcd;  padding:10px 0 10px 10px; margin:5px 0 0 0; /*box-shadow:inset 5px 0 5px -5px #333, inset -5px 0 5px -5px #333;*/  /*position:relative; top:-7px;*/ }
.popupshado .sizebg {width:634px; margin:5px 0 5px 14px;} /*background-image:url(images/sizebg-634x30.png);*/
.centerDialog {margin:0 auto;}

.galladdtocarti{margin:0px; padding:0px; font-size:0px !important; border:0px !important; background:none
 !important; height:31px !important; width:112px !important; cursor:pointer; background-image:url(images/gallery_cart.gif) !important; background-repeat:no-repeat;}
 
.active{color:#fff; background:url(images/tabonbg.gif) repeat-x !important; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; 	-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; padding:3px 22px;} 

/*vilas added*/
#homepageBottomTabs .ui-tabs-nav li a, #homepageSizingTabs .ui-tabs-nav li a {float:left; padding:5px 58px 4px 58px !important; text-decoration:none; font-weight:normal;}
/*vilas added*/


/*************************************************************************************
LOGIN MODAL
*************************************************************************************/

#loginFormForModal fieldset	{border:0}
/*
.loginOption fieldset div	{margin-bottom:12px;}
.loginOption label	{width:120px; text-align:right; display:block; float:left; clear:left;}
.loginOption label:after	{margin-right:12px; content:":"}
*/
.createAccount {height:270px; width:44%; margin:0 3%; float:left; font-family:ubuntu; text-align:center;}
.createAccount h1 {color:#000000; text-align:center; font-family:Electrolize; font-size:2.0em; margin:28px 0 8px 0;}
.createAccount p {font-size:1.5em;}
.createAccount .modalCreateButton {padding:5px; margin:10px; font-family:Electrolize; border:none; font-size:1.6em; background:#286c99; color:#ffffff; box-shadow:0 0 14px 2px #999; border-radius:4px;} 

.gotAccount {height:auto; width:44%;  margin:14px 3% 0 3%; float:right; background:#286c99; font-family:ubuntu; font-weight:normal; box-shadow:0 0 14px 2px #999; border-radius:4px;}
.gotAccount h1 {color:#ffffff; text-align:center; margin:29px 0 0 0; font-family:Electrolize;}
.gotAccount fieldset {padding:0; border:0;}
.gotAccount input {height:auto; width:90%; margin:10px auto; display:block; border:none; padding:5px 0 5px 5px; font-size:1.6em; border-radius:4px;}
.gotAccount input[type='submit'] {height:auto; width:90%; font-size:1.6em; font-family:Electrolize; color:#ffffff; font-weight:normal; background:#c2976b !important; border:1px solid #cccccc;}
.gotAccount a {color:#ffffff; font-family:"source sans pro"; font-size:12px; text-align:center; text-decoration:underline; margin:auto; display:block;}

#recoverPasswordContainer .recoverField {margin:5px 0 12px 12px; float:left;}
.recoverPasswordContainer {text-align:center; overflow:hidden;}
.recoverPasswordContainer legend {width:100%; cursor:pointer;}
.recoverPasswordContainer legend:hover {color:#E0463A;}
.recoverPasswordContainer div[data-slide='toggle']{display:none;}

/*************************************************************************************
createaccountArticle
*************************************************************************************/

#loginMessagingInline.appMessaging {margin:0 0 12px 40px;}
.buyerLoggedIn .hideIfLoggedIn{display:none;}
.hideIfLoggedOut{display:none;}
.buyerLoggedIn .hideIfLoggedOut	{display: block;} /* may be 'block' */
.buyerLoggedIn span.hideIfLoggedOut, .buyerLoggedIn a.hideIfLoggedOut{display: inline;} /* ensures inline on span elements */

#createaccountArticle .creatAccount {height:auto; width:960px; margin:20px auto;}
.gotAccount#gotAccount1 {width:32%; float:left; padding:0 0 20px 0; margin:0;}

.Account {height:auto; width:620px; float:right; font-family:"source sans pro"; font-size:1.2em; font-weight:bold;}
.Account h1 {font-family:Electrolize; font-weight:bold; margin:0 0 30px 0; color:#286c99;}
.fieldM {height:auto; width:600px; padding:0 0 10px 0; margin:0 auto; overflow:hidden; color:#286c99;}
.field {height:auto; width:83px; display:inline-block; text-align:right;}
.fieldM input, .fieldM select {height:30px; width:91px; margin:0 7px; padding:0 9px; border-radius:4px; font-family:ubuntu; border:2px solid #286c99;}
.fieldM option {height:20px; padding:5px 0 0 5px;}
.fieldM input.textfname {width:154px;}
.fieldM input.textflast {width:187px;}
.fieldM input.textfadd {width:260px;}
.fieldM input.textfadd1 {width:163px;}
.fieldM input.textfcity {width:179px;}
.fieldM.stateFix {position:relative; top:-6px;}
.selectWrapperS {height:30px; width:60px; display:inline-block; overflow:hidden; border:2px solid #286c99; margin:0 7px; position:relative; bottom:-13px; border-radius:4px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.selectWrapperS{bottom:-1px;}}
.fieldM select.textfstate {height:30px; width:80px; padding:6px 0px 3px 2px; border:none; background-position:33px 0px; margin:0;}
.fieldM .selectField {position:relative; bottom:10px;}
.selectWrapperC {height:30px; width:245px; display:inline-block; overflow:hidden; border:2px solid #286c99; margin:0 7px; border-radius:4px;}
.fieldM select.textfcountry {width:285px; padding:7px 3px 3px 3px; background-position:219px 0px; border:none; margin:0; background-repeat:no-repeat;}
.fieldM input.textfmail {width:140px; margin:0 29px 0 7px;}
.fieldM input.textfpass {width:140px;}
.fieldM input.textfphone {width:145px;}
.Account .createButton {color:#ffffff; padding:15px; margin:10px auto; border:none; display:block; font-family:Electrolize; font-weight:bold; font-size:1.8em; background:#febc00; border-radius:4px;}
.Account .createButton:hover {color:#febc00; background:#286c99;}


/*************************************************************************************
Layered search styles
*************************************************************************************/

.filterContainer {float:left; padding:40px 0 0 0;}
.filterBox {height:auto; width:auto; background-color:#3BB3C3; margin-top:10px; font-family:"Open Sans";}
.productColumn {width:auto;}
.catTitle {height:35px; width:auto; margin: 0 10px; color:#3BB3C3; font-family:"Open Sans"; font-size:24px; font-weight:bold; line-height:32px; position:absolute; top:215px; left:530px; background:none;}
.buyerGuides {height:30px; width:220px; border:2px solid #F8C301; position:absolute; top:215px; right:207px; color:#3BB3C3; text-align:center; font-family:"Open Sans"; font-size:14px; font-weight:bold; background:#F5F1DE;}
.buyerGuides span {font-size:10px; color:#000000; font-weight:normal; display:block; margin:-4px 0 0 0;}
.buyerGuides:hover {color:#E0463A;}
.numItemsOnListContainer {height:30px; width:45px; position:absolute; top:253px; right:510px; overflow:hidden;}
.numItemsOnList {background-color:#3bb3c3; width:67px; height:auto; border:none; color:#ffffff; background-image:url(images/sprites-500x500.png); background-position:-455px -183px;}
.numItemsOnList option {text-align:center;}
.categoryTemplateContainer {height:auto; width:761px;}
label.break	{display:block; margin:0 0 4px 6px; color:#276B98; padding:0 0 0 23px; text-indent:-23px;}
.layeredSearch	{height:auto; width:148px; margin:16px 0 16px 37px; color:#000000;}
.layeredSearch legend	{font-size:1.0em; font-family:electrolize;  font-weight:normal; text-align:center; border:none; margin:0 0 4px 0; padding:0 5px; color:#F05A24;}
.layeredSearch fieldset {border:1px solid #b1b1b1; border-radius:5px; margin-bottom:12px;}
.layeredSearch .sliderValue {height:auto; width:95%; text-align:center; margin:0 0 15px 0;}
.layeredSearch .slider-range {width:90%; margin:auto;}
.layeredSearch .resetButton {height:auto; width:100%; color:#ffffff; background-color:#276B98; border:none; border-radius:5px; box-shadow:2px 2px 1px 1px #b1b1b1; font-family:electrolize;  font-weight:bold; padding:5px; margin:10px auto; display:block;}


/*************************************************************************************
returnArticle (also contains shipping info. for now)
*************************************************************************************/

#returnArticle {margin:0 50px; font-family:electrolize;}
#returnArticle h1 {margin:10px 0; color:#666666;}
#returnArticle ul li {list-style-type:disc; margin:10px 0 0 0;}
.returnContent {margin:0 50px; font-family:ubuntu;} 
.returnContent p {color:#000000; font-weight:normal; line-height:18px;}


/*************************************************************************************
end returnArticle
*************************************************************************************/














